<ion-view view-title="Anasayfa">
    <ion-content>

        <ion-slide-box>
            <ion-slide>
                <img src="img/anasayfa_slider/1.jpg">
            </ion-slide>
            <ion-slide>
                <img src="img/anasayfa_slider/2.jpg">
            </ion-slide>
        </ion-slide-box>


        <div class="anasayfa_list">
            <div class="list">
                <a href="#/" class="item">

                    <table>
                        <tr>
                            <td class="td_awesome"><i class="anasayfa_awesome makas_icon"></i></td>
                            <td>
                                <h2><b>Kuaförler</b></h2>
                                <h4>Semtlere göre kuaförleri listeleyin.</h4>
                            </td>
                        </tr>
                    </table>
                </a>

                <a href="#/" class="item">

                    <table>
                        <tr>
                            <td class="td_awesome"><i class="anasayfa_awesome kilit_icon"></i></td>
                            <td>
                                <h2><b>Önceki Rezervasyonlarım</b></h2>
                                <h4>Geçmişte yaptığınız rezervasyonlar</h4>
                            </td>
                        </tr>
                    </table>
                </a>

                <a href="#/" class="item">

                    <table>
                        <tr>
                            <td class="td_awesome"><i class="anasayfa_awesome sepet_icon"></i></td>
                            <td>
                                <h2><b>Fırsatlar</b></h2>
                                <h4>Fırsatlar & İndirimler</h4>
                            </td>
                        </tr>
                    </table>
                </a>


            </div>
        </div>


    </ion-content>
</ion-view>